<ion-header>
  <ion-toolbar>
    <ion-button (click)="backHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title>Administration des Pizza</ion-title>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-label>Name : </ion-label>
        <ion-input [(ngModel)]="name"  placeholder="Pizza"></ion-input>
        <br>
        <ion-label>Image : </ion-label>
        <ion-input [(ngModel)]="img" type="file"></ion-input>
        <br>
        <ion-label>Price in € : </ion-label>
        <ion-input [(ngModel)]="price" placeholder="0"></ion-input>
        <br>
        <br>
        <ion-title>Ingredients list of pizza</ion-title>
        <ion-grid *ngIf="basket.CMlstIngredients">
          <ion-row>
            <ion-col col-4 *ngFor="let ingredient of basket.CMlstIngredients">
              <h1>{{ingredient.nom}}</h1>
              <h6 (click)="deleteIngredient(ingredient)">Enlever l'ingrédient</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <h6 (click)="createPizza()">Add pizza</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-title>Ingredients list</ion-title>
  <ion-grid *ngIf="basket.lstIngredients">
    <ion-row>
      <ion-col col-4 *ngFor="let ingredient of basket.lstIngredients">
        <h1>{{ingredient.nom}}</h1>
        <h6 (click)="addIngredient(ingredient)">Ajouter l'ingrédient</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
