<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="backHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose It</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-grid *ngIf="lstPizza">
    <ion-row>
      <ion-col col-4 *ngFor="let pizza of lstPizza">
        <h1>{{pizza.nom}}</h1>
        <img [src]="pizza.photo">
        <h3>{{pizza.prix}} €</h3>
        <ion-input value="{{lstPizza.length}}" (change)="quantityPizza()">Quantité :</ion-input>
        <h6 (click)="pizzaRemove(pizza)">Retirer du panier</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>
