<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>Basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="lstPizza">
    <ion-row>
      <ion-col col-4 *ngFor="let pizza of lstPizza">
        <h1>{{pizza.nom}}</h1>
        <img [src]="pizza.photo">
        <h3>{{pizza.prix}} €</h3>
        <ion-input value="{{lstPizza.length}}" (change)="quantityPizza()">Quantité :</ion-input>
        <h6 (click)="pizzaRemove(pizza)">Retirer du panier</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
