<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
    <ion-item class="ion-activated">
      <ion-icon (click)="addPizza()" name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>Ajouter une pizza</ion-label>
    </ion-item>
    <ion-item class="ion-activated">
    <ion-icon (click)="addIngredient()" name="add-circle-outline" slot="start"></ion-icon>
    <ion-label>Ajouter un ingrédient</ion-label>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administration</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-title>Administration des Pizza</ion-title>
  <ion-grid *ngIf="basket.lstPizza">
    <ion-row>
      <ion-col col-4 *ngFor="let pizza of basket.lstPizza">
        <h1>{{pizza.nom}}</h1>
        <img [src]="pizza.photo">
        <h3>{{pizza.prix}} €</h3>
        <h6 (click)="majPizza(pizza)">Modifier la pizza</h6>
        <h6 (click)="deletePizza(pizza)">Supprimer la pizza</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-title>Administration des Ingrédients</ion-title>
  <ion-grid *ngIf="basket.lstIngredients">
    <ion-row>
      <ion-col col-4 *ngFor="let ingredient of basket.lstIngredients">
        <h1>{{ingredient.nom}}</h1>
        <h6 (click)="majIngredient(ingredient)">Modifier l'ingrédient</h6>
        <h6 (click)="deleteIngredient(ingredient)">Supprimer l'ingrédient</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>
