<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="backHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      Details of "{{basket.pizza.nom}}" Pizza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose It</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <h1>{{basket.pizza.nom}}</h1>
        <img [src]="basket.pizza.photo">
        <h3>{{basket.pizza.prix}} €</h3>
        <h6 (click)="pizzaAdd(basket.pizza)">Ajouter au panier</h6>
        <h3>Ingrédients :</h3>
        <ion-grid *ngIf="lstIngredientsOfPizza">
          <ion-row>
            <ion-col col-4 *ngFor="let ingredient of lstIngredientsOfPizza">
              <h6>{{ingredient}}</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>
